
API_URL='http://localhost:3334'
PORT=3334

API_KEY='a123456'

SHOPIFY_CLIENT_ID='1234'
SHOPIFY_CLIENT_SECRET='1234'

JWT_SECRET='1234'

# frontend url
CLIENT_URL='http://localhost:3000'

MONGO_URI='mongodb://localhost:27017'
DB_NAME='amplifyy'